@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 238, 238, 0.9); 
}

body::-webkit-scrollbar-thumb {
  background-color: #fe6613;   
} */

.overlay-content {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
